<div class="al-fade-in w-fit md:pt-[100px] lg:ps-[100px]">
    <div class="w-[150px] h-[150px] rounded-full bg-slate-400">
        <img ngSrc="assets/images/sad-face.png" width="150" height="100" priority alt="sad-face">
    </div>

    <div>
        <div class="pt-7 text-5xl">Ooops!</div>
        <p class="pt-2 text-balance">Si è verificato un errore inaspettato. Se il problema persiste contatta l'amministratore.</p>
        <div class="flex justify-end pt-5">
            <button routerLink="/main" mat-raised-button color="accent">Torna alla Dashboard</button>
        </div>
    </div>
</div>