<h2 mat-dialog-title class="relative" id="big-dialog">
    <span>
        <span>{{title}}</span>
        @if (startMode == 'edit') {
        <span class="font-bold italic"> #{{data.kpiToEdit?.id}}</span>
        }
    </span>

    <div class="absolute top-1/2 -translate-y-1/2 right-[5px] flex items-center dense-2 gap-4">
        <button class="opacity-0" tabindex="-1" cdkFocusInitial></button>

        @if (authService.isAdmin && startMode == 'edit') {
        <mat-slide-toggle class="text-xs" (change)="changeMode()">{{data.mode == 'edit' ? 'Modifica' : 'Duplica'}}</mat-slide-toggle>
        <button mat-icon-button color="warn" (click)="openDeleteDialog()" tabindex="-1" matTooltip="Elimina Kpi" [disabled]="!data.kpiToEdit?.isDeletable">
            <mat-icon>delete</mat-icon>
        </button>
        }
    </div>
</h2>
<mat-dialog-content class="mat-typography" cdkScrollable>
    @if(authService.isAdmin) {
    <form class="flex flex-col flex-wrap gap-6 relative">
        <div id="separator" class="sticky w-full h-[3px] bg-black left-0 top-0 content-[''] z-10 dark:bg-white">
        </div>

        <div class="grid grid-cols-21 relative pt-7">
            <div class="absolute top-0 right-0 flex justify-end">
                <span class="text-xs italic">Campi del Kpi</span>
            </div>

            <div class="col-span-10">
                <mat-form-field class="w-full">
                    <mat-label>Nome Kpi</mat-label>
                    <input #inputNomeKpi matInput placeholder="Nome Kpi..." [formControl]="formGroup.controls.nomeKpi" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()" (keyup.control.space)="addTab(inputNomeKpi, formGroup.controls.nomeKpi)">
                    @if (nomeKpiInputError.hasError) {
                    <mat-error class="text-sm">{{nomeKpiInputError.message}}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="col-start-12 col-span-10">
                <mat-form-field class="w-full">
                    <mat-label>Seleziona Categoria Kpi</mat-label>
                    <input #inputCategoriaKpi type="text" placeholder="Categoria Kpi..." matInput [formControl]="formGroup.controls.categoriaKpi" [matAutocomplete]="autoCategoriaKpi" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()" (keyup.control.space)="addTab(inputCategoriaKpi, formGroup.controls.categoriaKpi)">
                    @if (categoriaKpiInputError.hasError) {
                    <mat-error class="text-sm">{{categoriaKpiInputError.message}}</mat-error>
                    }
                    <mat-autocomplete #autoCategoriaKpi="matAutocomplete">
                        @for (option of categoriaKpiFilteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </div>


        <div class="grid grid-cols-21 pt-7">

            <div class="col-span-10">
                <mat-form-field class="w-full">
                    <mat-label>Seleziona UM Kpi</mat-label>
                    <input #inputUMKpi type="text" placeholder="UM Kpi..." matInput [formControl]="formGroup.controls.uMKpi" [matAutocomplete]="autoUMKpi" (keydown.enter)="$event.preventDefault()" (keydown.shift.enter)="$event.preventDefault()" (keyup.control.space)="addTab(inputUMKpi, formGroup.controls.uMKpi)">
                    @if (uMKpiInputError.hasError) {
                    <mat-error class="text-sm">{{uMKpiInputError.message}}</mat-error>
                    }
                    <mat-autocomplete #autoUMKpi="matAutocomplete">
                        @for (option of uMKpiFilteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-start-12 col-span-10">
                <mat-form-field class="w-full">
                    <mat-label>Descrizione Kpi</mat-label>
                    <textarea #inputDescKpi matInput placeholder="Descrizione Kpi..." [formControl]="formGroup.controls.descKpi" style="height: 20px;" (keyup.control.space)="addTab(inputDescKpi, formGroup.controls.descKpi)"></textarea>
                    @if (descKpiInputError.hasError) {
                    <mat-error class="text-sm">{{descKpiInputError.message}}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <div class="grid grid-cols-21 pt-7">
            <div class="col-span-10">
                <mat-form-field class="w-full">
                    <mat-label>Benchmark</mat-label>
                    <textarea #inputBenchmark matInput placeholder="Benchmark..." [formControl]="formGroup.controls.benchmark" style="height: 20px;" (keyup.control.space)="addTab(inputBenchmark, formGroup.controls.benchmark)"></textarea>
                    @if (benchmarkInputError.hasError) {
                    <mat-error class="text-sm">{{benchmarkInputError.message}}</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        <hr>

        <div class="grid grid-cols-21 relative pb-4" [class]="{'pt-12': criteriOpened, 'pt-4': !criteriOpened}">
            <div class="absolute top-[-12px] left-0 dense-2 flex items-center gap-4">
                <button mat-icon-button (click)="criteriOpened = !criteriOpened" [matTooltip]="criteriOpened ? 'Comprimi' : 'Espandi'">
                    <mat-icon>{{criteriOpened ? 'unfold_less' : 'open_in_full'}}</mat-icon>
                </button>

                <span>{{selectedCriteriOptions.length}} {{selectedCriteriOptions.length == 1 ? 'Criterio selezionato' : 'Criteri selezionati'}}</span>
            </div>
            <div class="absolute top-0 right-0 flex justify-end">
                <span class="text-xs italic">Relazione con i Criteri</span>
            </div>

            @if (criteriOpened) {
                <div class="col-span-10">
                    @for (criterio of filteredCriterioCheckboxes; track $index) {
                        <div class="dense-2">
                            <span class="ps-5"></span>
                            <mat-checkbox [checked]="criterio.checked" (change)="checkCriterio($event, criterio.name)" class="al-grid-checkbox">
                                <div class="grid grid-cols-40 w-full">
                                    <div class="col-span-3 flex justify-center items-center pe-3 text-xs">
                                        {{criterio.extractedId}}
                                    </div>

                                    <div class="col-span-37 text-sm">
                                        {{criterio.extractedName}}
                                    </div>
                                </div>
                            </mat-checkbox>
                        </div>
                    }
                </div>
    
                <div class="col-start-12 col-span-10">
                    <mat-form-field class="w-full">
                        <mat-label>Filtra Criteri</mat-label>
                        <input #inputCriterio type="text" placeholder="Criterio..." matInput [formControl]="formGroupMulti.controls.criteri" [matAutocomplete]="autoCriteri" (keydown.shift.enter)="$event.preventDefault()" (keyup.control.space)="addTab(inputCriterio, formGroupMulti.controls.criteri)" (ngModelChange)="filterCriterio()">
                        <mat-autocomplete #autoCriteri="matAutocomplete">
                            @for (option of criteriFilteredOptions | async; track option) {
                            <mat-option [value]="option">{{option}}</mat-option>
                            }
                        </mat-autocomplete>
                    </mat-form-field>

                    <div class="font-bold pt-5">Selezionati</div>
                    @if (selectedCriteriOptions.length < 1) {
                        <span class="text-sm italic ps-4">Nessuno...</span>
                    }

                    @for (criterioName of selectedCriteriOptions; track $index) {
                    <div class="dense-5 flex items-center gap-2 text-sm">
                        <button mat-icon-button (click)="deselectCriterioFromHTML(criterioName)" [disabled]="!authService.isAdmin" tabindex="-1">
                            <mat-icon>remove</mat-icon>
                        </button>
    
                        <span>{{ criterioName }}</span>
                    </div>
                    }
                </div>
            }
 
        </div>
    </form>
    } @else {
        <div class="flex flex-col gap-4 relative">
            <div id="separator" class="sticky w-full h-[3px] bg-black left-0 top-0 content-[''] z-10 dark:bg-white"></div>

            <div>
                <div class="text-xs italic font-bold">Nome Kpi</div>
                <div class="pt-1">{{ data.kpiToEdit?.nomeKpi ? data.kpiToEdit?.nomeKpi : '(Nessun Valore)' }}</div>
            </div>

            <hr>

            <div>
                <div class="text-xs italic font-bold">Categoria Kpi</div>
                <div class="pt-1">{{ data.kpiToEdit?.categoriaKpi ? data.kpiToEdit?.categoriaKpi : '(Nessun Valore)' }}</div>
            </div>

            <hr>

            <div>
                <div class="text-xs italic font-bold">UM Kpi</div>
                <div class="pt-1">{{ data.kpiToEdit?.umKpi ? data.kpiToEdit?.umKpi : '(Nessun Valore)' }}</div>
            </div>

            <hr>

            <div>
                <div class="text-xs italic font-bold">Descrizione Kpi</div>
                <div class="pt-1">{{ data.kpiToEdit?.descKpi ? data.kpiToEdit?.descKpi : '(Nessun Valore)' }}</div>
            </div>

            <hr>

            <div>
                <div class="text-xs italic font-bold">Benchmark</div>
                <div class="pt-1">{{ data.kpiToEdit?.benchmark ? data.kpiToEdit?.benchmark : '(Nessun Valore)' }}</div>
            </div>

            <hr>

            <div>
                <div class="text-xs italic font-bold">Criteri</div>
                <div class="pt-1">
                    @if (initialSelectedCriterioOptions.length < 1) {
                        <div>(Nessun Valore)</div>
                    } @else {
                        @for (item of initialSelectedCriterioOptions; track $index) {
                            <div class="flex">
                                <div class="w-4"></div>
                                <div>- {{item}}</div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }



</mat-dialog-content>
<mat-dialog-actions align="end" class="relative">
    <div class="absolute left-[10px] top-0 flex items-center">
        @if (authService.isAdmin) {
        <button mat-icon-button (click)="resetForm()" matTooltip="Ripristina il form" [disabled]="data.mode != 'create' && data.mode != 'edit'" tabindex="-1">
            <mat-icon class="text-black dark:text-white">refresh</mat-icon>
        </button>
        }
    </div>
    <button mat-button mat-dialog-close tabindex="-1">{{authService.isAdmin ? 'Annulla' : 'Esci'}}</button>
    @if (authService.isAdmin && data.mode == 'create') {
    <button mat-raised-button color="primary" (click)="create()" [disabled]="formGroup.invalid">{{startMode == 'create' ? 'Crea' : 'Duplica'}}</button>
    } @else if (authService.isAdmin && data.mode == 'edit') {
    <button mat-raised-button color="accent" (click)="edit()" [disabled]="formGroup.invalid || !editFormChanged">Modifica</button>
    }

</mat-dialog-actions>