@mixin mat-table-columns($columns)
    {
        .mat-column-
        {
            @each $colName, $props in $columns {
    
                $maxWidth: map-get($props, 'maxWidth');
                $minWidth: map-get($props, 'minWidth');

                &#{$colName}
                {
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // white-space: nowrap;
                    @if map-has-key($props, 'color') 
                    {
                        color: map-get($props, 'color');
                    }

                    @if($maxWidth) {
                        max-width: $maxWidth;
                    } @else {
                        max-width: 200px;
                    }

                    @if($minWidth) {
                        min-width: $minWidth;
                    } @else {
                        min-width: 100px;
                    }
                }  
            }
        }
    }